<header>
  <div class="header-wrap">
    <div class="covers_header-top-logo">
      <a href="/covers" class="covers_header-top-logo-a"><img src="/img/portfolio_top_logo05.png" width="200"></a>
    </div>
    <nav>
      <div>
        <ul class="covers_header-nav_ul">
          <a href="#portfolio" class="covers_header-nav_li"><li>ポートフォリオ</li></a>
          <a href="#profile" class="covers_header-nav_li"><li>プロフィール</li></a>
          <a href="#study_group" class="covers_header-nav_li"><li>勉強会</li></a>
          <a href="#failure_story" class="covers_header-nav_li"><li>失敗談</li></a>
          <%# <a href="#activity" class="covers_header-nav_li"><li>アクティビティ</li></a> %>
        </ul>
      </div>
    </nav>
  </div>
  <div class="covers_header-background-image">
    <img src="/img/portfolio_site-background-image02.png" width="450" height="450">
  </div>
</header>

<div class="covers_portfolio-wrap">
  <div class="covers_portfolio-box">
    <h2 id="portfolio"><img src="/img/portfolio_content01.png" width="200"></h2>
    <div class="covers_portfolio-box-flex">

      <div class="covers_portfolio-box-flex-box">
        <a href="http://52.192.59.93:3000/" target="_blank"><img src="/img/portfolio_site-image03.png" width="100%"></a>
        <h3>jobs-rec.</h3>
        <p>仕事で、作成する製品の種類が何百種類もあるので、作成した製品の詳細を記録し、次回作成する時に詳細を見ながらスムーズに調整ができるようにするためにアプリを作成しました。<br>
        Ruby on Railsを使用し、機械名と製品名で検索することができます。</p>
      </div>

      <div class="covers_portfolio-box-flex-box">
        <a href="/creams" target="_blank" class="covers_portfolio-box-flex-box-img"><img src="/img/localhost_3000_creams.png" width="95%"></a>
        <h3>美容系LPサイト(模写)</h3>
        <p>LPサイトの練習のため、既存サイトを模写しました。初めてのLP模写なのでうまくできているか分かりませんが、デザインが完成しているものをコーディングするならこれくらいはできます。</p>
      </div>
            
    </div>
  </div>

  <div class="covers_portfolio-box">
    <h2 id="profile"><img src="/img/portfolio_content02.png" width="150"></h2>
    <div class="covers_portfolio-box-flex">
      <div class="covers_profile">
        <h4>【自己紹介】</h4>
        <p>初めまして！！フロントエンドエンジニアの森下宏明と申します。<br>
        PG1年生で初めてportfolio siteを作成しました。まだまだ初心者なのでお手柔らかにお願い致します。</p><br>
        <h4>【プログラミングを始めた理由】</h4>
        <p>PGにチャレンジすることになったきっかけは、2つあるのですが、2chでお馴染みのあの方がPGはやればやるほどスキルが身につき価値が高まる！と動画内で言っていたのと、
        著者:リンダ・グラットンのLIFE SHIFTを拝読し、新しくスキルを身につけよう！と思い始めることになりました。</p><br>
        <h4>【初心者の経験談】</h4>
        <p>初めは、ドットインストールというアプリを使い独学で勉強を始めました。初めてコードを見た時は、「何じゃこりゃ！！訳わからん(笑)」と、うなだれました。頑張ってめげずに何ヶ月もコードを書いて行けばそのうち慣れましたが。HTML・CSSはそんな難しくなかったです。</p>
        <p>一番辛かったのが、周りにエンジニアの仲間が一人も居なかったことです。一緒に同じ道を行く仲間が欲しかったので学校に通うことにしました。なぜかデザイン学校に入ってしまったのですが💦(この頃はプログラミングのことがよくわかっていませんでした)</p>
        <p>その学校で基本的なHTML・CSSがカリキュラムであったので、その時はひたすらHPの模写をしていました。基本的な部分は独学していたのでわかっていたつもりでしたが、知らないことが結構あったので勉強になりました。</p><br>
        <h4>【TECH::CAMPでの経験】</h4>
        <p>丁度いいタイミングでTECH::CAMPを経営しているあのYouTuberがプログラミングスクールをやっていることを知りTECH::CAMPに通うことにしました。</p>
        <p>使用言語はRubyです。Rubyの独学は全くしていなかったので、TECH::CAMPのスピードについていけませんでした。<br>
        Rubyの基礎がよくわからないのに応用に入ってしまったので、さらに訳わからん状態で失敗しまくり、ガッツリ心が折れました。</p>
        <p>なんとかしぶとく食らいつき卒業することができました。この時はまだRubyの基礎はよくわかっていません(笑)<br>
        卒業した後にRuby(Rails)の基礎をやり直したら、結構簡単に理解できました。マイペースに勉強していけば思いのほか難しくなかったです。</p><br>
        <h4>【方向性の決定】</h4>
        <p>アプリ制作からデプロイまでの流れを一通り経験した結果、主観でフロントエンドの方が楽しかったので、フロントエンドエンジニアになることに決めました。今後の方向性としては、JavaScript・Ruby on Railsを中心にレベルUPを目指します。</p><br>
        <h4>【経歴】</h4>
        <p>TECH::CAMP(プログラミングスクール)卒業</p>
        <h4>【使える言語】</h4>
        <p>HTML・Haml・CSS・Sass・JavaScript・Ruby・Ruby on Rail</p>
        <h4>【方向性】</h4>
        <p>JavaScript・Ruby on Railsを中心にレベルUPを目指します。</p>
        <h4>【使用ツール】</h4>
        <p>VSCode・GitHub・AWS・illustrator</p>
      </div>
    </div>
  </div>

  <div class="covers_study_group">
    <h2 id="study_group"><img src="/img/portfolio_content03.png" width="250"></h2>
    <div class="covers_profile">
      <p>どんなエンジニアになりたいですか？とよく聞かれます。自分はどんなエンジニアになりたいのか分かりません。</p>
      <p>ですが、今したいことはあります。勉強会です。</p>
      <p>この業界に来て思うことがあります。それは、未経験者に厳し過ぎないか！？</p>
      <p>人手不足の業界とお聞きしますが、育てることをしない業界なのか？と。なんだか矛盾しているような気がします。</p>
      <p>なので勉強会を開いて、少しでも初心者の方々の不安を取り除く手助けがしたいと思い、勉強会を開催する準備をしています。</p>
      <p>自分はまだまだ初心者です。なので教えられる部分は少ないので、まずは勉強会に参加しスキルを磨くことから始めます。</p>
      <p>週末は一人で勉強しているだけなので、どうせなら誰かと一緒に勉強しようと仲間を募っています。</p>
      <p>未経験の方が参加するようになったら、勉強したことを人に教えるというアウトプットする仕組みを作ります。</p>
      <p>目標は、営業して仕事を頂けるようになったら、勉強会の仲間と一緒に仕事ができるようになることです。</p>
    </div>
  </div>

  <div class="covers_portfolio-box">
    <h2 id="failure_story"><img src="/img/portfolio_content04.png" width="250"></h2>
    <%# <h3>ここでは、PGを勉強してきた中で失敗したことを記載していきます。<br>
    自分用でもあり、これから勉強していく人で参考にして頂けたらと思います。</h3> %>
    <div class="covers_failure">  
      <h4>【失敗】メンターに質問する頻度が少な過ぎた</h4>
      <p>TECH::CAMPでカリキュラムの基礎部分を進めていた頃、カリキュラム上で、15分考えてわからなければメンターに相談してください。と言われていたのですが、あまり質問しませんでした。その結果、無様にも基礎が全くわからないまま応用に進んでしまいました。MVC(モデル/ビュー/コントローラ)の繋がりすら理解できていない状態で応用なんてできる訳もなく、一時的に心が折れてしまいました。</p>
      <h5>【解決策】</h5>
      <p>PG一年生で<span class="red_color">初心者であることを受け入れて、わからなければ質問することをオススメします。</span>新しく何かを始める時はまずは真似ることから学習します。技術的な面だけではなく、始めた頃の話とか、どういう流れで今に至ったのかなどの経験の話なんかでも、初心者の人からしたら有益な情報になるはずです。</p>
    </div>

    <div class="covers_failure">  
      <h4>【失敗】GitHubで間違えてコードを消してしまった</h4>
      <p>GitHubで、コミットする前にプッシュしてしまい、コミットする前のコードが消えてしまいました。(心が折れた瞬間です)<br>
      なぜこんなことが起きてしまったのでしょうか。原因はGitHubを理解していなかったからです。コードを記述したら、コミットしてプッシュです。間違えないでください。</p>
      <h5>【解決策】</h5>
      <p><span class="red_color">TECH::CAMPで学ばれている方はGitHubを使う時は、メンターに近くで見ていてもらうことをオススメします。</span>使用方法がよくわかってない状態でもやり方が間違っていたら指摘してくれるはずです。当然使用方法を覚える(メモでもOK)必要があるのですが、何度も使っていたら流れを覚えていきます。使い始めのうちはメンターに見てもらってもいいと思います。<span class="red_color">独学の方は、作業の流れをメモするなりして間違えがないか確認しながら進めれば良いと思います。</span></p>
    </div>

    <div class="covers_failure">  
      <h4>【失敗】sudoコマンドを適当に使ってしまい、PC内の環境がめちゃくちゃになってしまった</h4>
      <p>sudoコマンドとは、root権限に切り替えないと編集できない重要なファイルをsudoコマンドを使用すると編集できてしまうというコマンドです。<br>
      sudoコマンドは適当に使用してはいけません。大事故を起こします。どういう変更をしてしまったのか分からないのですが、自分はこれで、bundle installやrails sが使用不可になりました。挙句の果てにRailsを使って作業していたのにRailsをinstallしてくださいとか言われたりしました。こうなってしまっては初心者ではお手上げ状態です。</p>
      <h5>【解決策】</h5>
      <p>sudoコマンドを使用してしまい、大事故を起こしてしまったら、速やかにメンターに相談してください。メンターの方でも直せる人はかなり少ないと思います。直すのに相当の時間がかかる覚悟をしてください。<br>
      TECH::CAMPのカリキュラムでsudoコマンドを使用することがありますが、カリキュラム通りやれば問題なく進めることができます。それ以外で<span class="red_color">sudoコマンドを使用したいのであれば、一度メンターに相談した方がいいです。</span></p>
    </div>

    <div class="covers_failure">  
      <h4>【失敗】TECH::CAMPをしながら筋トレをしていてカリキュラムのペースについていけなかった</h4>
      <p>TECH::CAMPの短期集中コース(10週間)を受講中に同時進行で筋トレをしていました。息抜きに筋トレと思っていたのですが、今思えばTECH::CAMPに一点集中して取り組んだ方がよかったです。TECH::CAMPの受講者は一日に10時間くらい週7日間、集中して取り組んでいます。それくらいのペースでやらないとついていけないということです。</p>
      <h5>【解決策】</h5>
      <p><span class="red_color">TECH::CAMPの短期集中コース(10週間)を受講するなら、労力を全てTECH::CAMPに注ぐくらいの気持ちで取り組んだ方がいいです。</span>その覚悟がないなら、夜間コース(短期集中の2倍の期間)というのがあります。これは、働きながらTECH::CAMPを受講することができる仕組みで期間も長いです。以下の特徴があるのなら夜間コースにしてもいいかもしれません。パソコンが不得意・英語が得意ではない・読解力が弱い・圧倒的努力をしたことがない、などの特徴があるなら習得に時間がかかる可能性があります。苦手なことでもやり続ければそれなりにできるようになります。どうしてもスキルを身に付けたくて諦めたくないという方は夜間をオススメします。</p>
    </div>

    <div class="covers_failure">  
      <h4>【失敗】TECH::CAMPで応用カリキュラムをしている期間、夜型人間になってしまった</h4>
      <p>TECH::CAMPで応用カリキュラムに入ったら、メンターへの質問をコネクトでできるようになります。コネクトとは、オンラインで質問できるシステムで、遠隔でコードを編集することができます。なので教室に行かなくてもメンターに相談できることになります。このコネクトでの質問は11:00 ~ 22:00で使用できるのですが、その頃夜型人間になっていたので、昼過ぎに起きて明け方に寝る生活になっていました。当然22:00以降はコネクトは使用できません。自分は22:00 ~ 5:00くらいの間メンターに質問することができません。そうなると自分で解決しなければならない状態です。分からないまま時間が過ぎていきだんだん遅れていきます。22:00以降全く進まない時もありました。</p>
      <h5>【解決策】</h5>
      <p>夜型人間だという方は少なからずいると思います。自分も夜の方が集中できます。ですが、<span class="red_color">TECH::CAMPを受講している期間はメンターの活動時間に合わせることを強くオススメします。</span>コネクトが使用できると自宅で作業をすることも視野に入れてしまいますが、なるべく教室に行き作業を進める方がいいです。教室にいけば、一緒に頑張っている仲間がいますし、自宅より誘惑が少ないので集中できます。「朝に家を出て、教室に向かい、夜帰ってきて自宅では寝るだけ」みたいな習慣にした方がいいと思います。</p>
    </div>

    <%# <div class="covers_failure">  
      <h4>【失敗】</h4>
      <p></p>
      <h5>【解決策】</h5>
      <p></p>
    </div> %>

  </div>

  <%# <div class="covers_portfolio-box">
    <h2 id="activity"><img src="/img/portfolio_content05.png" width="150"></h2>
  </div> %>
</div>
<footer>
  <div class="covers_footer">
    <a href="#"><h3>トップに戻る</h3></a>
    <p><img src="/img/portfolio_top_logo05.png" height="60"></p>
  </div>
</footer>
