@import "covers";
@import "creams";
@import "font-awesome";


html {
  font-family: Arial, Helvetica, sans-serif,;
}
header {
  height: 80%;
  background-image: url("/img/portfolio_site_top_background01.png");
  background-size: cover;
}
.header-wrap {
  width: 100%;
  height: 100px;
  background: #fff;
  opacity: .7;
  margin: 0;
  padding: 0;
}
header::after {
  content: "";
  display: block;
  clear: both;
}
.covers_header-top-logo {
  float: left;
  line-height: 100px;
  padding-left: 30px;
  padding-top: 10px;
  & img {
    vertical-align: middle;
    padding-bottom: 10px;
  }
}
.covers_header-nav_ul {
  display: flex;
  float: right;
  width: 50%;
  height: 100px;
  padding: 0 10px 0 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}
.covers_header-nav_li {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  &-po::after {
    content: "Portfolio";
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }
  &-pr::after {
    content: "Profile";
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }
  &-st::after {
    content: "Studys";
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }
  &-fa::after {
    content: "Failure";
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }
  &:hover {
    opacity: .7;
    color: rgb(3, 89, 248);
    font-weight: bold;
}
}
.covers_header-background-image {
  width: 500px;
  height: 500px;
  margin: auto;
  z-index: 1;
  & img {
    padding-left: 40px;
    animation-duration: 3s; 
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}
.covers_footer {
  background: #fff;
  height: 150px;
  & a {
    text-decoration: none;
  }
& h3 {
    color: #fff;
    background: #000;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    height: 60px;
    line-height: 60px;
    &:hover {
      opacity: .8;
      background: #fff;
      color: #000;
      transition: 1.5s;
      font-weight: bold;
      text-shadow: 0px 5px 2px #000;
    }
  }
  & p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
    height: 90px;
    padding-top: 35px;
  }
}