
.covers_portfolio-wrap {
  width: 100%;
  background: rgb(236, 242, 242);
  padding-bottom: 30px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.covers_portfolio-box {
  width: 90%;
  padding: 30px;
  margin: auto ;
  & h2 {
    color: rgb(6, 68, 238);
    font-size: 18px;
    padding: 30px 50px 0;
    margin: 0;
  }
  &-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    &-box {
      width: 350px;
      background: #fff;
      margin: 10px 10px;
      padding-bottom: 10px;
      color: #333;
      & h3 {
        font-size: 24px;
        padding: 0 20px;
        margin: 10px;
        font-weight: normal;
        color: rgb(214, 104, 104);
      }
      & p {
        font-size: 16px;
        padding: 0 20px;
        margin: 10px;
        line-height: 1.8;
      }
      &:hover {
        cursor: pointer;
        color: skyblue;
        transition: .3s;
      }
    }
  }
}
.image-box {
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 5px auto 5px;
  background: #000;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #000;
  & img:hover {
    opacity: .9;
    transform-origin: 50% 50%; //アニメーション開始地点を指定する
    transform: scale(1.05);
    transition: .3s;
    animation-duration: 1s; //アニメーション開始から終了までの時間を指定
    animation-fill-mode: forwards; //アニメーション終了時の状態を固定する
  }
}
.covers_profile {
  background: #fff;
  margin: 10px auto;
  padding: 30px;
  color: #333;
  & h3 {
    margin: 8px;
  }
  & h4 {
    color: rgb(214, 104, 104);
  }
  & p {
    margin: 8px;
    line-height: 1.8;
  }
}

.covers_study_group {
  margin-top: 300px;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  & h2 {
    color: rgb(6, 68, 238);
    font-size: 18px;
    padding: 30px 50px 0;
    margin: 0;
  }
}

.covers_failure {
  background: #fff;
  margin: 10px auto 0;
  padding: 30px;
  color: #333;
  & h4 {
    color: rgb(214, 104, 104);
  }
  & h5 {
    color: rgb(214, 104, 104);
  }
  & p {
    line-height: 1.8;
  }
}

@keyframes big{
  0%{
    width: 45%;
  }
 100%{
   width: 48%;
  }
}

@keyframes bigs{
  0%{
    width: 100%;
  }
 100%{
   width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50%{
    transform: scale3d(1.2, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}


// span
.red_color {
  color: red;
}

// ここから1200px以下になったら変更する
@media screen and (max-width: 850px) {

  nav {
    display: none;
  }
  .covers_portfolio-box {
    margin: auto;
  }
  .covers_portfolio-box-flex-box {
    width: 600px;
    &:hover {
      opacity: .8;
    }
  }
  .image-box {
    overflow: hidden;
    width: 500px;
    height: 350px;
    margin: 5px auto;
    background: #000;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #000;
    & img:hover {
      opacity: .9;
      transform-origin: 50% 50%; //アニメーション開始地点を指定する
      transform: scale(1.05);
      transition: .3s;
      animation-duration: 1s; //アニメーション開始から終了までの時間を指定
      animation-fill-mode: forwards; //アニメーション終了時の状態を固定する
    }
  }
}


// ここから800px以下になったら変更する
@media screen and (max-width: 650px) {  

.covers_portfolio-box-flex-box {
  width: 450px;
  // height: 660px;
  &:hover {
    animation: none;
    opacity: .8;
  }
}
  

.image-box {
  overflow: hidden;
  width: 400px;
  height: 266px;
  margin: 5px auto 5px;
  background: #000;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #000;
  & img:hover {
    opacity: .9;
    transform-origin: 50% 50%; //アニメーション開始地点を指定する
    transform: scale(1.05);
    transition: .3s;
    animation-duration: 1s; //アニメーション開始から終了までの時間を指定
    animation-fill-mode: forwards; //アニメーション終了時の状態を固定する
  }
}
  

}