  <body>
    <div class="wrap">
      <article id="order">
        <section class="top_box1">
          <div class="top_box1_fixed">
          <a href="#"><h1><img src="img/top_box1_img01.png" alt="キャンペーンお申し込み" width="100%"></h1></a>
          </div>
          <h2><img src="img/top_box1_img02.png" alt="ぷるぷる保湿" width="100%"></h2>
          <h3><img src="img/top_box1_img03.png" alt="お試しキャンペーン" width="1000"></h3>
          <div class="box1_float">
            <div class="box1_float_left">
              <h4><img src="img/top_box1_img04.png" alt="リッチ&モイスト" ></h4>
            </div>
            <div class="box1_float_right">
              <h4><img src="img/top_box1_img05.png" alt="ひと塗りで弾力肌"></h4>
              <h4><img src="img/top_box1_img06.png" alt="税込2800円"></h4>
              <h4><img src="img/top_box1_img07.png" alt="お得なお試しキャンペーンに申し込む"></h4>
            </div>

          </div>
          <h5><img src="img/top_box1_img08.png" alt="ボトム背景" width="100%"></h5>
        </section>

        <section class="top_box2">
          <h1><img src="img/top_box2_img01.png" alt="あの頃と変わってきた"></h1>
          <div class="top_box2_color1">

          <h2><img src="img/top_box2_img02.png" alt="潤いを逃さないこと" width="800"></h2>
            <div class="top_box2_flex">
              <h3><img src="img/top_box2_img03.png" alt="乾燥肌" width="400"></h3>
              <h3><img src="img/top_box2_img04.png" alt="健康な肌" width="400"></h3>
            </div>
          </div>
          <h4><img src="img/top_box2_img05.png" alt="研究して130年" width="1000"></h4>
        </section>
        
        <section class="top_box3">
        	<p><img src="img/top_box3_img01.png" alt="背景top" width="100%"></p>
        	<h1><img src="img/top_box3_img02.png" alt="あれこれ塗らなくてもこれ一つ" width="1000"></h1>
        	<div class="top_box3_flex">
	        	<div class="top_box3_flex_left">
		        	<h2><img src="img/top_box3_img03.png" alt="リッチ＆モイスト"></h2>
	        	</div>
        		
        		<div class="top_box3_flex_right">
        			<h3><img src="img/top_box3_img04.png" alt="話題の成分一つで6役"></h3>
        			<p>ひと塗りで化粧水からオイルパックまでをこなす
        			多機能オールインワン<br>ジェル。<br>
        			豊富な美容成分が、乾燥・ハリ不足の肌をたっぷりと
        			うるおいで満たし<br>ながら乾かない肌へと導きます。</p>
        			<h4><img src="img/top_box3_img05.png" alt="お試しキャンペーンに申し込み"></h4>
        		</div>
        	</div>
        	<h5><img src="img/top_box3_img06.png" alt="背景bottom" width="100%"></h5>
        	<h6><img src="img/top_box3_img07.png" alt="ひと塗するだけ落ち込み肌をうるおす"></h6>
        </section>
        
        <section class="top_box1">
          <div class="top_box1_fixed">
          <a href="#"><h1><img src="img/top_box1_img01.png" alt="キャンペーンお申し込み" width="100%"></h1></a>
          </div>
          <h3><img src="img/top_box1_img03.png" alt="お試しキャンペーン" width="1000"></h3>
          <div class="box1_float">
            <div class="box1_float_left">
              <h4><img src="img/top_box1_img04.png" alt="リッチ&モイスト" ></h4>
            </div>
            <div class="box1_float_right">
              <h4><img src="img/top_box1_img05.png" alt="ひと塗りで弾力肌"></h4>
              <h4><img src="img/top_box1_img06.png" alt="税込2800円"></h4>
              <h4><img src="img/top_box1_img07.png" alt="お得なお試しキャンペーンに申し込む"></h4>
            </div>

          </div>
          <h5><img src="img/top_box1_img08.png" alt="ボトム背景" width="100%"></h5>
        </section>
        
        <section class="top_box4">
        	<h1><img src="img/top_box4_img01.png" alt="使うたびハリうるおい実感"></h1>
        	<div class="top_box4_flex">
	        	<h2><img src="img/top_box4_img02.png" alt="こだわり1"></h2>
	        	<h2><img src="img/top_box4_img03.png" alt="こだわり2"></h2>
	        	<h2><img src="img/top_box4_img04.png" alt="こだわり3"></h2>
        	</div>
        	<h3><img src="img/top_box4_img05.png" alt="背景bottom" width="100%"></h3>
        </section>
        
        <section class="top_box5">
        	<h1><img src="img/top_box5_img01.png" alt="厳選美肌成分がぎっしり"></h1>
        	<div class="top_box5_type1">
        	<p>ハリ・ツヤ・弾力のあるうるおい肌を生み出すのは、
        	こだわりの美肌成分群。
        	肌に大切な成分だけをギュッと詰め込んでいます。</p>
        	<h2><img src="img/top_box5_img02.png" alt="2大エイジングケア成分"></h2>
        		<div class="top_box5_type1_wrap">
        			<div class="top_box5_type1_wrap_left">
        				<h3><img src="img/top_box5_img03.png" alt="鮭"></h3>
        			</div>
        			<div class="top_box5_type1_wrap_right">
        				<h4><img src="img/top_box5_img04.png" alt="プロテオグリカン"></h4>
        				<p>うるおいを保つだけでなく、
        				コラーゲンやヒアルロン酸を生み出す力も
        				兼ね備えた注目成分。</p>
        			</div>
        		</div>
        		<div class="top_box5_type1_wrap">
        			<div class="top_box5_type1_wrap_left">
        				<h3><img src="img/top_box5_img05.png" alt="大豆"></h3>
        			</div>
        			<div class="top_box5_type1_wrap_right">
        				<h4><img src="img/top_box5_img06.png" alt="フィトポリアミン"></h4>
        				<p>切り花の寿命を延ばす「ポリアミン」を
        				含んだ大豆の胚芽から抽出したエキス。
        				素肌にうるおいとハリを与えます</p>
        			</div>
        		</div>
        	</div>
        	
        	
        	<div class="top_box5_type1">
        	<h2><img src="img/top_box5_img07.png" alt="肌を構成する3大成分"></h2>
        		<div class="top_box5_type1_wrap">
        			<div class="top_box5_type1_wrap_left">
        				<h3><img src="img/top_box5_img08.png" alt="コラーゲン"></h3>
        			</div>
        			<div class="top_box5_type1_wrap_right">
        				<h4><img src="img/top_box5_img09.png" alt="加水分解コラーゲン"></h4>
        				<p>肌を保護し、内側からみずみずしい肌へ。</p>
        			</div>
        		</div>
        		<div class="top_box5_type1_wrap">
        			<div class="top_box5_type1_wrap_left">
        				<h3><img src="img/top_box5_img10.png" alt="ヒアルロン酸"></h3>
        			</div>
        			<div class="top_box5_type1_wrap_right">
        				<h4><img src="img/top_box5_img11.png" alt="加水分解ヒアルロン酸"></h4>
        				<p>高い浸透性と水分保持能力で、うるおいを蓄える肌へ。</p>
        			</div>
        		</div>
        		<div class="top_box5_type1_wrap">
        			<div class="top_box5_type1_wrap_left">
        				<h3><img src="img/top_box5_img12.png" alt="エラスチン"></h3>
        			</div>
        			<div class="top_box5_type1_wrap_right">
        				<h4><img src="img/top_box5_img13.png" alt="加水分解エラスチン"></h4>
        				<p>肌に柔らかさと弾力を与え、ハリのある肌へ。</p>
        			</div>
        		</div>
        	</div>
        	
        	<div class="top_box5_type2">
        	<h2><img src="img/top_box5_img14.png" alt="乾燥肌荒れから守るプロテクト成分"></h2>
        		<div class="top_box5_type2_wrap">
        			<div class="top_box5_type2_wrap_left">
        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img15.png" alt="桃"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img16.png" alt="モモ葉エキス"></h4>
        						<p>古くから親しまれているエキス。<br>
        						肌を守り、トラブルからガード。</p>
        					</div>
        				</div>
        			
        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img17.png" alt="ビルベリー"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img18.png" alt="ビルベリー葉エキス"></h4>
        						<p>アントシアニンを多く含み、肌荒<br>
        						れから守りながら若々しく保ちま<br>
        						す。</p>
        					</div>
        				</div>

        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img19.png" alt="藻"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img20.png" alt="アルゲエキス"></h4>
        						<p>褐藻類、紅藻類、緑藻類から抽出<br>
        						したエキス。乾燥から肌をガー<br>
        						ド。<br>
        						 (コトジツノマタ/ミツイシコンブ/<br>
        						 ヒトエグサ葉状体エキス)。</p>
        					</div>
        				</div>
       			
        			</div>
        			<div class="top_box5_type2_wrap_right">
        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img21.png" alt="ホホバ"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img22.png" alt="ホホバ種子油"></h4>
        						<p>水の蒸発を防ぎ、うるおいをキー<br>
        						プ。しなやかに伸びすべすべの肌<br>
        						へ。</p>
        					</div>
        				</div>

        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img23.png" alt="アブカド"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img24.png" alt="アボカド油"></h4>
        						<p>肌になじみやすく、しっとりうるお<br>
        						いのある肌を育みます。</p>
        					</div>
        				</div>

        				<div class="top_box5_type2_set">
        					<div class="top_box5_type2_set_left">
        						<h3><img src="img/top_box5_img25.png" alt="ゆず"></h3>
        					</div>	
        					<div class="top_box5_type2_set_right">
        						<h4><img src="img/top_box5_img26.png" alt="ユズ果実エキス"></h4>
        						<p>肌の状態を整えながら、ダメージに<br>
        						負けない肌へ導きます。</p>
        					</div>
        				</div>
        			</div>
        		</div>
        		
        		<div class="top_box5_type3">
        			<h2><img src="img/top_box5_img27.png" alt="パンっとハリ肌ふっくら成分"></h2>
        			<h3><img src="img/top_box5_img28.png" alt="セラミドネットマカデミアナッツ脂肪酸フィトステリル"></h3>
        		</div>
        	</div>
        </section>
        
        <section class="top_box6">
        	<h1><img src="img/top_box6_img01.png" alt="すっとなじみぐんぐん浸透"></h1>
        	<div class="top_box6_wrap">
        	<p>美容成分がしっかり肌に届くように、肌なじみの良い特殊なオイルを配合。
        	美容成分をしっかり肌奥へと※4引き込んでいきます。</p>
        	<h2><img src="img/top_box6_img02.png" alt="テクスチャ―チェンジで浸透をお知らせ"></h2>
        	<div class="top_box6_set">
        		<div class="top_box6_set_left">
        			<h3><img src="img/top_box6_img03.png" alt="のせた瞬間すっとなじむ"></h3>
        			<p>水にも油にもすっと溶ける特殊なオイル「ディープアクアライザー※5」を配合。肌に乗せた瞬間するするとなじみ、肌のすみずみまで満たしていきます</p>
        		</div>
        		<div class="top_box6_set_right">
        			<h4><img src="img/top_box6_img04.png" alt="美容オイルジェルネット美容成分"></h4>
        		</div>
        	</div>
        
        	<div class="top_box6_set">
        		<div class="top_box6_set_left">
        			<h3><img src="img/top_box6_img05.png" alt="肌になじんで届ける"></h3>
        			<p>肌の上でなじませると、ジェルの感触が軽くなり、つるんと変化。美容成分がしっかりと浸透※4したサインです。</p>
        		</div>
        		<div class="top_box6_set_right">
        			<h4><img src="img/top_box6_img06.png" alt="RF28が開発した独自技術"></h4>
        		</div>
        	</div>
        	
        	<div class="top_box6_bottom_set">
        		<h5><img src="img/top_box6_img07.png" alt="POINT"></h5>
        		<p>軽くマッサージすると、乳状だったジェルが、透明のオイルに変化。<br>
        		美容オイルが外側にあふれて、ジェルの感触がつるつると軽くなります！</p>
        	</div>
        	</div>
        </section>
        
        <section class="top_box7">
        	<h1><img src="img/top_box7_img01.png" lat="オイルパックでうるおい密封"></h1>
        	<div class="top_box7_wrap">
        	<p>届けたうるおいが逃げてしまわないようにしっかり密封。乾燥しやすい肌もうるおいが続きます。</p>
        		<div class="top_box7_set">
        			<div class="top_box7_set_left">
        				<h2><img src="img/top_box7_img02.png" alt="うるおいを閉じ込める"></h2>
        				<p>美容成分が浸透すると、美容オイルが肌表面に広がり、うるおいを逃さないようにオイルパック。<br>
        				うるおいをしっかり閉じ込め続けて、内側はふっくらやわらか、外側は透明感のあるツヤツヤ肌へ。</p>
        			</div>
        			<div class="top_box7_set_right">
        				<h3><img src="img/top_box7_img03.png" alt="ジェルネット美容オイル"></h3>
        			</div>
        		</div>
        	</div>
        	<h4><img src="img/top_box7_img04.png" alt="背景bottom" width="100%"></h4>
        	<h5><img src="img/top_box7_img05.png" alt="つけた瞬間も翌朝も実感"></h5>
        	<h6><img src="img/top_box7_img06.png" alt="ぷるぷる実感ふっくら実感"></h6>
        </section>
        
        <section class="top_box8">
        	<div class="top_box8_wrap">
        	<h1><img src="img/top_box8_img01.png" alt="初回お試しキャンペーン" width="1000"></h1>
        		<div class="top_box8_set">
        			<div class="top_box8_set_left">
        				<h2><img src="img/top_box8_img02.png" alt="リッチ＆モイスト"></h2>
        			</div>
        			<div class="top_box8_set_right">
        				<h3><img src="img/top_box8_img03.png" alt="ひと塗で驚きのうるおい"></h3>
        				<h4><img src="img/top_box8_img04.png" alt="税込み2800円"></h4>
        				<h5><img src="img/top_box8_img05.png" alt="お得なお試しキャンペーン"></h5>
        			</div>
        		</div>
        		<h6><img src="img/top_box8_img06.png" alt="背景bottom" width="100%"></h6>
        	</div>
        </section>
        
        <section class="top_box9">
        	<h2><img src="img/top_box9_img01.png" alt="創業1885年「RF28」"></h2>
        	<div class="top_box9_set">
        		<div class="top_box9_set_left">
        			<p>RF28の母体は、130年以上の歴史をもつ日本有数の化粧品メーカー「桃谷順天館」。 薬種商を営んでいた桃谷政次郎が、ニキビに悩む妻のために創った1本の化粧水「にきびとり美顔水」からはじまりました。 
        			以来、人々のお悩みを解決したいという創業者の想いを受け継ぎ、美肌創りを通じて健やかな美しさと笑顔をお届けしています。 業界に先駆けて化粧品試験部を開設し、永年積み重ねた確かな処方技術と製造技術のもと、機能的で高品質な化粧品を創り続けています。</p>
        		</div>
        		<div class="top_box9_set_right">
        			<h3><img src="img/top_box9_img02.png" alt="RF28の母体"></h3>
        		</div>
        	</div>
 
        	<h2><img src="img/top_box9_img03.png" alt="企画から製造発送まですべてを自社で"></h2>
        	<div class="top_box9_set">        		
        		<div class="top_box9_set_left">
        			<p>桃谷順天館は、大阪に本社、岡山県東部吉井川の清流のほとりに工場を持ち、企画・研究・開発・製造・発送までのすべてを自社グループで行っています。
        			お客様が安心して美肌づくりを続けられるよう厳しい品質管理のもと商品をお届けしています。</p>
        		</div>
        		<div class="top_box9_set_right">
        			<h3><img src="img/top_box9_img04.png" alt="清流のほとりの工場"></h3>
        		</div>
        	</div>
        </section>
        
        <section class="top_box10">
        	<h1><img src="img/top_box10_img01.png" alt="お客様満足度97%"></h1>
        	<div class="top_box10_set">
        		<div class="top_box10_set_left">
        			<h2><img src="img/top_box10_img02.png" alt="お客様A"></h2>
        		</div>
        		<div class="top_box10_set_right">
        			<h3><img src="img/top_box10_img03.png" alt="他のオールインワンとは違う"></h3>
        			<p>使って1日目から「これは他のオールインワンと違う！」と感じました。
							乾燥しやすい肌なのに、一日中うるおっていてびっくり。 
							乾燥に悩むことがなくなり、目もともぷるぷるしています。 
							これからも毎日、朝晩しっかり使い続けます！ <br>
							( 素肌すっぴん様・40歳 )</p>
        		</div>
        	</div>
        	<div class="top_box10_set">
        		<div class="top_box10_set_left">
        			<h2><img src="img/top_box10_img04.png" alt="お客様B"></h2>
        		</div>
        		<div class="top_box10_set_right">
        			<h3><img src="img/top_box10_img05.png" alt="この値段でオイルパックまでできるなんて"></h3>
        			<p>つっぱったりカサカサするようになってきた肌を助けれてくれたのがミラクルワンです。
							いろんなスキンケアが売っていますが、あれこれ試す余裕もなく…。 
							これひとつ、を信じて使ってみたところ本当にぷるぷるになりました！ 
							機能がたくさんあるのにこのお値段で、しかもオイル美容で話題のパックまでできるなんて嬉しすぎです。簡単にお手入れができて、余裕のうるおい肌。これからも使い続けます！！ <br>
							( ハタハタ様・34歳 )</p>
        		</div>
        	</div>
        	
        	<div class="top_box10_set_under">
        		<h4><img src="img/top_box10_img06.png" alt="肌がしっとり、いつもの違う肌に喜び" width="110%"></h4>
        		<h4><img src="img/top_box10_img07.png" alt="「ママ、肌きれい」使った瞬間から実感" width="110%"></h4>
        	</div>
        	<h5><img src="img/top_box10_img08.png" alt="次はご自身のお肌で、ご体感ください"></h5>
        	<p class="top_box10_text">※１水溶性プロテオグリカン、加水分解コラーゲン、加水分解ヒアルロン酸、
        	加水分解エラスチン、ダイズ芽エキス、モモ葉エキス、ビルベリー葉エキス、
        	ユズ果実エキス、コトジツノマタ/ミツイシコンブ/ヒトエグサ葉状体エキス、
        	ホホバ種子油、アボカド油、マカデミアナッツ脂肪酸フィトステリル、セリン、
        	グリシン、グルタミン酸、リシン、ベタイン、トレオニン、プロリン、アラニン、
        	PCA-Na、グリチルレチン酸ステアリル、（メタクリル酸グリセリルアミドエチル・メタクリル酸ステアリル）コポリマー　
        	※２年齢に応じたケア　※３（メタクリル酸グリセリルアミドエチル・メタクリル酸ステアリル）コポリマー　
        	※４角質層まで　※５シクロヘキサン-1,4-ジカルボン酸ビスエトキシジグリコール</p>
        </section>
        
        <section class="top_box11">
        	<h1><img src="img/top_box11_img01.png" alt="初回お試しキャンペーン"></h1>
        	<div class="top_box11_set">
        		<div class="top_box11_set_left">
        			<h2><img src="img/top_box11_img02.png" alt="リッチ＆モイスト"></h2>
        		</div>
        		<div class="top_box11_set_right">
        			<h3><img src="img/top_box11_img03.png" alt="ガサガサ・くすみ・乾燥肌に"></h3>
        			<h4><img src="img/top_box11_img04.png" alt="税込み2800円"></h4>
        			<h5><img src="img/top_box11_img05.png" alt="お得なお試しキャンペーンに申し込む"></h5>
        		</div>
        	</div>
        	<h6><img src="img/top_box11_img06.png" alt="bottom背景" width="100%"></h6>
        </section>
      </article>
    </div>
  </body>
</html>
